@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Rubik:wght@400;500;700&display=swap');

:root {
    /* (sub--heading at the top of the app UI) */
    --PaleViolet: hsl(276, 100%, 81%);
    /* (chat on the left) */
    --ModerateViolet: hsl(276, 55%, 52%);
    /* (chat on the right) */
    --DesaturatedDarkViolet: hsl(271, 15%, 43%);
    /* (placeholder text) */
    --GrayishBlue: hsl(206, 6%, 79%);
    /*  (main heading) */
    --VeryDarkDesaturatedViolet: hsl(271, 36%, 24%);
    /* (paragraph) */
    --DarkGrayishViolet: hsl(270, 7%, 64%);

    /* gradients */
    --LightMagentaLeft: hsl(293, 100%, 63%);
    --LightVioletLeft: hsl(264, 100%, 61%);

    --LightMagentaRight: hsla(293, 100%, 63%, 0.03);
    --LightVioletRight: hsl(264, 100%, 61%, 0.03);

    --White: hsl(0, 0%, 100%);
    /*  (app background) */
    --LightGrayishViolet: hsl(270, 20%, 96%);
    /* (submit button background) */
    --VeryDarkDesaturatedViolet: hsl(271, 36%, 24%);
    /*  (radio button outline) */
    --VeryLightMagenta: hsl(289, 100%, 72%);

    /* shadow */
    --ShadowBlack: hsla(0, 0%, 17%, 0.132);

    /* left chat bg */
    --LeftChatBg: hsl(272, 46%, 93%);
}

body {
    margin: 0;
    font-family: Rubik;
    font-size: 16px;
    width: 100vw;
    height: 100vh;
    background-color: var(--LightGrayishViolet);
    display: flex;
    justify-content: center;
}

p {
    margin: 0;
}

svg {
    color: var(--White);
}

input:focus {
    outline: none;
}

.left-figure {
    position: fixed;
    left: -60px;
    width: 35%;
    height: 85%;
    border-bottom-left-radius: 300px;
    border-bottom-right-radius: 300px;
    background: linear-gradient(var(--LightMagentaLeft), var(--LightVioletLeft));
    z-index: -1;
}

.right-figure {
    position: fixed;
    left: 76%;
    bottom: 0;
    width: 35%;
    height: 85%;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    background: linear-gradient(var(--LightMagentaRight), var(--LightVioletRight));
    z-index: -1;
}

.wrapper {
    margin-left: 60px;
    width: 55%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.text {
    margin-left: 50px;
    width: 50%;
}

.text h1 {
    font-size: 35px;
    font-weight: 700;
    color: var(--VeryDarkDesaturatedViolet);
}

.text p {
    font-weight: 400;
    color: var(--DarkGrayishViolet);
    line-height: 26px;
    word-spacing: 2px;
}

.mobile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 565px;
    border-radius: 35px;
    background-color: var(--White);
    box-shadow: 10px 10px 35px var(--ShadowBlack);
}

.bangs {
    position: absolute;
    background-color: var(--White);
    top: 9px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center; 
    width: 45%;
    height: 25px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.chat {
    width: 92%;
    height: 96%;
    display: flex;
    flex-direction: column;
    background-color: var(--LightGrayishViolet);
    border-radius: 28px;
    justify-content: space-between;
}

.chat-head {
    width: 100%;
    height: 20%;
    background: linear-gradient(90deg, var(--LightVioletLeft), var(--LightMagentaLeft));
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    box-shadow: 0px 5px 20px var(--ShadowBlack);
}

.chat-head img {
    width: 26px;
    height: 26px;
    border-radius: 100%;
    border: 2px solid var(--White);
    margin-right: 5px;
}

.head-row {
    display: flex;
    flex-direction: row;
    margin: 15px 8px 0 8px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.head-row svg {
    width: 16px;
    cursor: pointer;
}

.head-col {
    display: flex;
    flex-direction: column;
}

.name {
    color: var(--White);
    font-size: 12px;
}

.desc {
    color: var(--GrayishBlue);
    font-size: 9px;
}

.group {
    width: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.chat-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 94%;
    height: 35px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 12px;
}

.chat-wrapper input {
    width: 100%;
    height: inherit;
    background: var(--White);
    border: none;
    border-radius: 20px;
    padding-left: 15px;
    color: var(--GrayishBlue);
}

.chat-send {
    position: absolute;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--VeryDarkDesaturatedViolet);
    border-radius: 100%;
    top: 12%;
    left: 86%;
    cursor: pointer;
}  

.chat-body {
    height: 100%;
    padding: 6px 12px 6px 12px;
}

.chat-body div {
    display: none;
}

.message-left {
    max-width: 55%;
    display: inline-block;
    padding: 8px 20px 8px 8px;
    margin: 6px 0 6px 0;
    border-radius: 10px;
    border-bottom-left-radius: 5px;
    color: var(--ModerateViolet);
    font-size: 10px;
    background-color: var(--LeftChatBg);
}

.message-right {
    background-color: var(--White);
    color: var(--DesaturatedDarkViolet);
    box-shadow: 10px 10px 35px var(--ShadowBlack);
    padding: 8px;
    margin: 6px 0;
    border-radius: 10px;
    border-bottom-right-radius: 5px;
    font-size: 10px;
    display: flex;
    float: right;
    max-width: 55%;
}

.pictures-right {
    width: auto;
    display: flex;
    float: right;
    flex-direction: row;
    align-items: center;
}

.pictures-right img {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    margin: 6px;
}

.pictures-right img:last-child {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    margin-right: 0px;
}

.option {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 20px 8px 8px;
    margin: 6px 0 6px 0;
    border-radius: 10px;
    border-bottom-left-radius: 5px;
    color: var(--White);
    font-size: 10px;
    background: linear-gradient(90deg, var(--LightMagentaLeft), var(--LightVioletLeft));
    justify-content: space-between;
}

.option h1 {
    font-size: 15px;
    margin: 0;
}

.option p {
    width: 100px;
}

.form-radio-hidden {
    position: relative;
    display: flex;
    align-items: center;
}

.form-radio-hidden input {
    position: absolute;
    opacity: 0;
    display: block;
    height: 0;
    width: 0;
}

.form-radio-hidden .radio {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
    background: none;
    border: 1.5px solid var(--VeryLightMagenta);
    border-radius: 100%;
    margin-right: 10px;
    cursor: pointer;
    transition: .5s all;
}

.form-radio-hidden:hover .radio {
    border-color: var(--White);
}

.form-radio-hidden input:checked + .radio {
    border-color: var(--White);
}

.form-radio-hidden:hover .radio::before, .form-radio-hidden input:checked + .radio::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: var(--White);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .5s all;
}