@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Rubik:wght@400;500;700&display=swap');

:root {
    /* (sub--heading at the top of the app UI) */
    --PaleViolet: hsl(276, 100%, 81%);
    /* (chat on the left) */
    --ModerateViolet: hsl(276, 55%, 52%);
    /* (chat on the right) */
    --DesaturatedDarkViolet: hsl(271, 15%, 43%);
    /* (placeholder text) */
    --GrayishBlue: hsl(206, 6%, 79%);
    /*  (main heading) */
    --VeryDarkDesaturatedViolet: hsl(271, 36%, 24%);
    /* (paragraph) */
    --DarkGrayishViolet: hsl(270, 7%, 64%);

    /* gradients */
    --LightMagentaLeft: hsl(293, 100%, 63%);
    --LightVioletLeft: hsl(264, 100%, 61%);

    --LightMagentaRight: hsla(293, 100%, 63%, 0.03);
    --LightVioletRight: hsl(264, 100%, 61%, 0.03);

    --White: hsl(0, 0%, 100%);
    /*  (app background) */
    --LightGrayishViolet: hsl(270, 20%, 96%);
    /* (submit button background) */
    --VeryDarkDesaturatedViolet: hsl(271, 36%, 24%);
    /*  (radio button outline) */
    --VeryLightMagenta: hsl(289, 100%, 72%);

    /* shadow */
    --ShadowBlack: hsla(0, 0%, 17%, 0.132);
}

body {
    margin: 0;
    font-family: Rubik;
    font-size: 16px;
    width: 100vw;
    height: 100vh;
    background-color: var(--LightGrayishViolet);
    display: flex;
    justify-content: center;
}

p {
    margin: 0;
}

svg {
    color: var(--White);
}

.left-figure {
    position: fixed;
    left: -60px;
    width: 35%;
    height: 85%;
    border-bottom-left-radius: 300px;
    border-bottom-right-radius: 300px;
    background: linear-gradient(var(--LightMagentaLeft), var(--LightVioletLeft));
    z-index: -1;
}

.right-figure {
    position: fixed;
    left: 76%;
    bottom: 0;
    width: 35%;
    height: 85%;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    background: linear-gradient(var(--LightMagentaRight), var(--LightVioletRight));
    z-index: -1;
}

.wrapper {
    margin-left: 75px;
    width: 55%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.text {
    margin-left: 50px;
    width: 50%;
}

.text h1 {
    font-size: 35px;
    font-weight: 700;
    color: var(--VeryDarkDesaturatedViolet);
}

.text p {
    font-weight: 400;
    color: var(--DarkGrayishViolet);
    line-height: 26px;
    word-spacing: 2px;
}

.mobile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 510px;
    border-radius: 35px;
    background-color: var(--White);
    box-shadow: 10px 10px 35px var(--ShadowBlack);
}

.bangs {
    position: absolute;
    background-color: var(--White);
    top: 9px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center; 
    width: 45%;
    height: 25px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.chat {
    width: 92%;
    height: 96%;
    display: flex;
    flex-direction: column;
    background-color: var(--LightGrayishViolet);
    border-radius: 28px;
}

.chat-head {
    width: 100%;
    height: 85px;
    background: linear-gradient(90deg, var(--LightVioletLeft), var(--LightMagentaLeft));
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    box-shadow: 0px 5px 20px var(--ShadowBlack);
}

.chat-head img {
    width: 26px;
    height: 26px;
    border-radius: 100%;
    border: 2px solid var(--White);
    margin-right: 5px;
}

.head-row {
    display: flex;
    flex-direction: row;
    margin: 10px 8px 0 8px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.head-row svg {
    width: 16px;
    cursor: pointer;
}

.head-col {
    display: flex;
    flex-direction: column;
}

.name {
    color: var(--White);
    font-size: 12px;
}

.desc {
    color: var(--GrayishBlue);
    font-size: 9px;
}

.group {
    width: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/* .chat-body {
    
}

.chat-input {
    
} */